.burbujas{
    width: 90%;
    background-color: rgb(129, 176, 204);
    line-height: 25px;
    font-size: 20px;
    padding: 10px 15px;
    text-align: initial;
    color: #282c34;
    font-weight: 600;
    border-radius: 10px 10px 10px 0px;
    position: relative;
    margin-left: 20px;
    animation-duration: 1s;
    animation-name: bur;
}

.burbujas::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 15px;
    margin-left: -30px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid rgb(129, 176, 204);

}

@keyframes bur{
	0%{
		opacity: 0;
		transform: translateX(-10px);
    } 
	100% {
		opacity: 1;
		transform: translateX(0px);
    }
} 

.burbujasCargando{
    
    background-color: rgb(129, 176, 204);
    border-radius: 10px;
    z-index: 999;
}



.conteiner{
    width: 70%;
    height: 90vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    
}

.conteiner2{
    scroll-snap-align: end;
}

.conteiner::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 5px;    /* Tamaño del scroll en horizontal */
    
}

.conteiner::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.conteinerBurbujas{
    width: 40%;
    display: flex;
    align-items: flex-end;
    margin: 10px;
    

}

.img{
    width: 10%;
    height: fit-content;
    margin: 5px;
}

@media (max-width: 800px){
    .conteiner{
        width: 100%;
    }
}

@media (max-width: 600px){
    .conteinerBurbujas{
        width: 80%;
    }
    .burbujas{
        font-size: 17px;
    }
}